.layout-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 128px); /* Altura completa menos Header y Footer */
}
.sidebar {
    width: 240px; /* Ancho del Sidebar */
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.main-content {
    flex-grow: 1;
    padding: 16px;
    background-color: #f9f9f9;
    overflow-y: auto;
}
 
.main-container {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 0 2px 5px rgba(0, 0, 0, 0.1);
}