<footer class="footer-container">
    <mat-toolbar class="footer-toolbar">
        <!-- Información de la asignatura -->
        <div class="footer-info">
            <span><strong>Diseño de Interfaces Web</strong> - DAW2 - IES ALIXAR</span>
        </div>

        <!-- Licencia Creative Commons -->
        <div class="footer-rights">
        <span>2025 IES ALIXAR. Licencia
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">
                Creative Commons BY-NC-SA 4.0
            </a>
        </span>
        </div>
    </mat-toolbar>
</footer>