@use 'bootstrap/scss/bootstrap'; 
@use '@angular/material' as mat; 
@use '_theme-colors' as colors;

$light-theme: mat.define-theme(( 
    color: (
        theme-type: light,
        primary: colors.$primary-palette, 
        tertiary: colors.$tertiary-palette,
    )
));

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: colors.$primary-palette, 
        tertiary: colors.$tertiary-palette,
    )
));

:root {
    @include mat.all-component-themes ($light-theme);
}

.dark-theme{
    @include mat.all-component-themes ($dark-theme);
}